
<div ng-controller="orderController" ng-init="init()" class="clear-fix">
    <div class="col-sm-2 slider-bar" slider-bar>
        <div class="header-logo" style="margin: 10px auto;" ng-click="toPage('home')"></div>
        <div class="user-header"></div>
        <div class="btn-group">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{userInfo.name}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a ng-click="getUserInfo()" data-toggle="modal" data-target="#userInfo">编辑资料</a></li>
                <li ng-click="logout()"><a>退出登录</a></li>
            </ul>
        </div>
        <p>联系电话：{{userInfo.phone}}</p>
        <p>Email:{{userInfo.userName}}</p>

        <ul class="action-menu">
            <li data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                投资中心
                <span class="glyphicon glyphicon-chevron-left" style="float: right; margin-right: 10px;"></span>
            </li>
            <div class="collapse" id="collapseExample">
                <li ng-click="toPage('property')">寻找物业</li>
                <li ng-click="toPage('project')">寻找项目</li>
                <li ng-click="toPage('debenture')">寻找债券投资</li>
            </div>

            <li data-toggle="collapse" data-target="#collapseExampleTwo" aria-expanded="false" aria-controls="collapseExampleTwo">
                收藏夹
                <span class="glyphicon glyphicon-chevron-left" style="float: right; margin-right: 10px;"></span>
            </li>
            <div class="collapse" id="collapseExampleTwo">
                <li ng-click="toPage('collectionTwo')">物业收藏夹</li>
                <li ng-click="toPage('collectionTwo')">项目收藏夹</li>
                <li ng-click="toPage('collectionThree')">债券收藏夹</li>
            </div>

            <li ng-class="{active : typeNum == '1'}" ng-click="toPage('transactionHistory')">已申请购买</li>
            <li ng-class="{active : typeNum == '2'}" ng-click="toPage('transactionHistoryTwo')">已购买清单</li>
            <li ng-click="toPage('flow')">详细流程指南</li>
        </ul>
    </div>

    <div class="col-sm-10" style="background-color: #F0F0F0; padding-bottom: 30px;">
        <div class="header2" style="margin-top: 20px; font-size: 20px;">细则追踪</div>

        <div class="option-selector">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td>项目编号</td>
                        <td>项目名称</td>
                        <td>投资金额(美元)</td>
                        <td>年回报率</td>
                        <td>交易日期</td>
                    </tr>
                    <tr>
                        <td>{{orderDetail.id}}</td>
                        <td>
                            {{orderDetail.name}}
                        </td>
                        <td>{{orderDetail.invest | numberToMoney}}</td>
                        <td>{{orderDetail.return}}</td>
                        <td>{{orderDetail.created_at}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="option-selector" style="margin-top: 50px;">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td>项目编号</td>
                        <td>日期</td>
                        <td>文档名称</td>
                        <td>大小</td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="file in orderDetail.files track by $index">
                        <td>{{orderDetail.id}}</td>
                        <td>{{orderDetail.created_at}}</td>
                        <td>
                            {{file.filename}}
                        </td>
                        <td>{{file.size}}</td>
                        <td><a ng-href="{{file.url}}">点击查看</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="userInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myUserInfo">用户信息</h4>
                </div>
                <div class="modal-body">
                    <form class="userInformation">
                        <div class="form-group">
                            <label class="control-label">姓名:</label>
                            <input type="text" class="form-control" ng-model="userInfoData.name">
                        </div>
                        <div class="form-group">
                            <label class="control-label">电话:</label>
                            <input type="text" class="form-control" ng-model="userInfoData.cellphone">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="saveUserInfo()">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>













