
<div ng-controller="investmentController" ng-init="init()" class="clear-fix">
    <div class="col-sm-2 slider-bar" slider-bar>
        <h2 ng-click="toPage('home')">LOGO</h2>
        <div class="user-header"></div>
        <div class="btn-group">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{userInfo.name}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a ng-click="getUserInfo()" data-toggle="modal" data-target="#userInfo">编辑资料</a></li>
                <li ng-click="logout()"><a>退出登录</a></li>
            </ul>
        </div>
        <p>联系电话：{{userInfo.phone}}</p>
        <p>Email:{{userInfo.userName}}</p>

        <ul class="action-menu">
            <li ng-click="toPage('property')">寻找物业</li>
            <li class="active">寻找项目</li>
            <li ng-click="toPage('debenture')">寻找债券投资</li>
            <li ng-click="toPage('collection')">收藏夹</li>
            <li ng-click="toPage('transactionHistory')">已申请购买</li>
            <li ng-click="toPage('transactionHistoryTwo')">已购买清单</li>
            <li ng-click="toPage('flow')">详细流程指南</li>
        </ul>
    </div>
    <div class="col-sm-10" style="background-color: #F0F0F0;">

        <div class="header2" style="margin-top: 20px; font-size: 20px;">现有项目</div>
        <div class="option-selector">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td>项目</td>
                        <td>价格(美元)</td>
                        <td>投资金额(美元)</td>
                        <td>年回报率</td>
                        <td>投资周期</td>
                        <td>状态</td>
                        <td>操作</td>
                    </tr>
                    <tr ng-repeat="investment in investmentList track by $index">
                        <td ng-click="getInvestmentDetail(property.id, $index)" data-toggle="modal" data-target="#myModal">
                            <div class="clear-fix">
                                <div class="property-img" style="background-image: url({{investment.pics[0]}})"></div>
                                <div class="property-info">
                                    <p>年份:{{investment.age}}</p>
                                    <p>城市:{{investment.city}}</p>
                                    <p>环境评估等级:{{investment.environment_level}}</p>
                                </div>
                            </div>
                            <div class="property-address">项目概述:{{investment.type}}</div>
                            <div class="property-address">地址:{{investment.address}}</div>
                        </td>
                        <td>${{investment.price || numberToMoney}}</td>
                        <td>${{investment.invest || numberToMoney}}</td>
                        <td>{{investment.return}}</td>
                        <td>{{investment.cycle}}个月</td>
                        <td>
                            <p ng-if="investment.state == 'enable'">可选</p>
                            <p ng-if="investment.state != 'enable'">不可选</p>
                        </td>
                        <td>
                            <div>
                                <a style="color: #3252e2" ng-if="investment.collected == 0" ng-click="collectInvestment(investment.id, $index, investment.collected)">
                                    +
                                    <span>点击收藏</span>
                                </a>
                                <a style="color: red;" ng-if="investment.collected == 1" ng-click="collectInvestment(investment.id, $index, investment.collected)">
                                    -
                                    <span>取消收藏</span>
                                </a>
                            </div>
                            <div ng-if="investment.state == 'enable'">
                                <div><a ng-click="initOrder(investment.id, 'property', investment.invest)" data-toggle="modal" data-target="#orderModel">+<span>点击购入</span></a></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="paginitor-footer" style="margin-right: 2%;">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="javascript:void(0)" aria-label="Previous" ng-click="previousPage()">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li ng-repeat="pageId in paginationArr" ng-class="{active: pageId == paginationData.current_page}">
                        <a href="javascript:void(0)" ng-click="getInvestmentData(pageId, pageSize)">{{pageId}}</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-label="Next" ng-click="nextPage()">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="orderModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="orderModelLabel">物业详情</h4>
                </div>
                <div class="modal-body">
                    <form class="userInformation">
                        <div class="form-group">
                            <label class="control-label">姓名:</label>
                            <input type="text" class="form-control" ng-model="orderData.name">
                        </div>
                        <div class="form-group">
                            <label class="control-label">生日:</label>
                            <input type="text" class="form-control" ng-model="orderData.birthday">
                        </div>
                        <div class="form-group">
                            <label class="control-label">职业:</label>
                            <input type="text" class="form-control" ng-model="orderData.position">
                        </div>
                        <div class="form-group">
                            <label class="control-label">地址:</label>
                            <input type="text" class="form-control" ng-model="orderData.address">
                        </div>
                        <div class="form-group">
                            <label class="control-label">房号:</label>
                            <input type="text" class="form-control" ng-model="orderData.room">
                        </div>
                        <div class="form-group">
                            <label class="control-label">城市:</label>
                            <input type="text" class="form-control" ng-model="orderData.city">
                        </div>
                        <div class="form-group">
                            <label class="control-label">省份:</label>
                            <input type="text" class="form-control" ng-model="orderData.province">
                        </div>
                        <div class="form-group">
                            <label class="control-label">国家:</label>
                            <input type="text" class="form-control" ng-model="orderData.nation">
                        </div>
                        <div class="form-group">
                            <label class="control-label">邮箱:</label>
                            <input type="text" class="form-control" ng-model="orderData.email">
                        </div>
                        <div class="form-group">
                            <label class="control-label">购入项目编号:</label>
                            <input type="text" class="form-control" readonly="readonly" ng-model="orderData.target_id">
                        </div>
                        <div class="form-group">
                            <label class="control-label">投资金额(美金):</label>
                            <input type="text" class="form-control" readonly="readonly" ng-model="orderData.money">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="postOrder()">申请购入</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">物业详情</h4>
                </div>
                <div class="modal-body">
                    <div class="detail-img"><img ng-src="{{investmentDetail.pics[0]}}"></div>
                    <p>年份:{{investmentDetail.age}}</p>
                    <p>城市:{{investmentDetail.city}}</p>
                    <p>环境评估等级:{{investmentDetail.environment_level}}</p>
                    <p>项目概述: {{investmentDetail.type}}</p>
                    <p>地址:{{investmentDetail.address}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="userInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myUserInfo">用户信息</h4>
                </div>
                <div class="modal-body">
                    <form class="userInformation">
                        <div class="form-group">
                            <label class="control-label">姓名:</label>
                            <input type="text" class="form-control" ng-model="userInfoData.name">
                        </div>
                        <div class="form-group">
                            <label class="control-label">电话:</label>
                            <input type="text" class="form-control" ng-model="userInfoData.cellphone">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="saveUserInfo()">保存</button>
                </div>
            </div>
        </div>
    </div>

</div>