<style>
    .nav-tabs li{
        width: 25%;
    }
    .content-image{
        width: 100%;
    }
    .clear-fix{
        overflow: auto;
        zoom: 1;
        margin: 5px 0;
    }

</style>

<div ng-controller="homeController">
    <div class="row">
        <div class="col-sm-4">logo</div>
        <div class="col-sm-8">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    首页
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#/home">首页</a></li>
                    <li><a href="#/service">我们的服务</a></li>
                    <li><a href="#/flow">流程介绍</a></li>
                    <li><a href="#/aboutUs">关于我们</a></li>
                    <li><a href="#">我的账户</a></li>
                    <!--<li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="row" style="height: 360px; padding: 15px; position: relative;">
        <div class="swiper-container" home-swiper>
            <div class="swiper-wrapper">
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                <div class="swiper-slide">Slide 4</div>
                <div class="swiper-slide">Slide 5</div>
                <div class="swiper-slide">Slide 6</div>
                <div class="swiper-slide">Slide 7</div>
                <div class="swiper-slide">Slide 8</div>
                <div class="swiper-slide">Slide 9</div>
                <div class="swiper-slide">Slide 10</div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>

        <button type="button" class="btn btn-default to-login">用户登录</button>
    </div>
    <div class="row home-main-container">
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item">公司简介</li>
                <li class="list-group-item">公司价值</li>
                <li class="list-group-item">联系方式</li>
                <li class="list-group-item">注册用户</li>
            </ul>
        </div>
        <div class="col-sm-8">
            <div class="information-body">
                <div class="clear-fix">
                    <div class="col-sm-3">
                        <img class="content-image" src="http://localhost:8088/assets/image/header.png">
                    </div>
                    <div class="col-sm-9">是顾不上看办公室打副本啥课代表福建省吧福建省吧发就好比黑色是是顾不上看办公室打副本啥课代表福建省吧福建省吧发就好比黑色是是顾不上看办公室打副本啥课代表福建省吧福建省吧发就好比黑色是是顾不上看办公室打副本啥课代表福建省吧福建省吧发就好比黑色是是顾不上看办公室打副本啥课代表福建省吧福建省吧发就好比黑色是</div>
                </div>
                <div class="clear-fix">
                    <div class="col-sm-9">是顾不上看办公室打副本啥课代表福建省吧福建省吧发就好比黑色是是顾不上看办公室打副本啥课代表福建省吧福建省吧发就好比黑色是是顾不上看办公室打副本啥课代表福建省吧福建省吧发就好比黑色是是顾不上看办公室打副本啥课代表福建省吧福建省吧发就好比黑色是是顾不上看办公室打副本啥课代表福建省吧福建省吧发就好比黑色是</div>
                    <div class="col-sm-3">
                        <img class="content-image" src="http://localhost:8088/assets/image/header.png">
                    </div>
                </div>
                <div class="clear-fix">
                    <div class="col-sm-3">
                        <img class="content-image" src="http://localhost:8088/assets/image/header.png">
                    </div>
                    <div class="col-sm-9">是顾不上看办公室打副本啥课代表福建省吧福建省吧发就好比黑色是是顾不上看办公室打副本啥课代表福建省吧福建省吧发就好比黑色是是顾不上看办公室打副本啥课代表福建省吧福建省吧发就好比黑色是是顾不上看办公室打副本啥课代表福建省吧福建省吧发就好比黑色是是顾不上看办公室打副本啥课代表福建省吧福建省吧发就好比黑色是</div>
                </div>
            </div>
        </div>
    </div>

</div>






