
<div ng-controller="homeController" ng-init="init()" style="position: relative; overflow: auto; zoom: 1;">
    <div class="row header">
        <div class="col-sm-6" style="text-align: left">LOGO</div>
        <div class="col-sm-6">
            <div class="col-sm-3" ng-click="toPage('service')">我们的服务</div>
            <div class="col-sm-3" ng-click="toPage('flow')">流程介绍</div>
            <div class="col-sm-3" ng-click="toPage('aboutUs')">关于我们</div>
            <div class="col-sm-3" ng-click="toPage('property')">我的账户</div>
        </div>
    </div>

    <div class="row" style="width: 100%; height: {{swiperHeight}}px; position: relative">
        <div class="swiper-container" home-swiper>
            <div class="swiper-wrapper">
                <div ng-repeat="item in swiperArr" class="swiper-slide slide-bg{{item}}">
                    <div class="home-mask" style="background-color: #000000;"></div>
                    <div class="swiper-title-container">
                        <div class="title">
                            <p>真正属于您的海外物业投资</p>
                            <p>全程无忧的本地物业管理</p>
                            <p>承诺担保的美元回报</p>
                        </div>
                        <div class="to-login">用户登录</div>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <div class="row" style="position: relative;">
        <div class="home-mask"></div>
        <div class="home-container" style="padding: 40px 0;">
            <div class="col-sm-3">
                <div class="to-page">
                    <div class="page-logo page-logo1"></div>
                    <div class="page-content">
                        <h4>我们的服务</h4>
                        <div class="content">AB Company为您提供创 新稳定的投资方向。</div>
                        <div class="to-page-btn" ng-click="toPage('service')">了解更多</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="to-page">
                    <div class="page-logo page-logo2"></div>
                    <div class="page-content">
                        <h4>流程介绍</h4>
                        <div class="content">简洁方便的投资流程保证您的资产安全。</div>
                        <div class="to-page-btn" ng-click="toPage('flow')">了解更多</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="to-page">
                    <div class="page-logo page-logo3"></div>
                    <div class="page-content">
                        <h4>关于我们</h4>
                        <div class="content">物业投资将成为您国外资产配置的新选择</div>
                        <div class="to-page-btn" ng-click="toPage('aboutUs')">了解更多</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="to-page">
                    <div class="page-logo page-logo4"></div>
                    <div class="page-content">
                        <h4>我的账户</h4>
                        <div class="content">让我们为您的资产增值。</div>
                        <div class="to-page-btn" ng-click="toPage('property')">了解更多</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row infographic" style="position: relative;">
        <div class="home-mask"></div>
        <div class="home-container">
            <div class="title">快速投资 轻松无忧</div>
            <div class="infographic-logo"></div>
        </div>
    </div>

    <div class="row news" style="position: relative;">
        <div class="home-mask"></div>
        <div class="home-container">
            <h3>公司快讯</h3>
            <p>物业信息及日常信息</p>
            <div class="col-sm-4">
                <div class="news-container">
                    <div class="news-logo"></div>
                    <div class="content">
                        <h4>标题</h4>
                        <p>Lorem ipsum dolor sit
                            amet, consectetuer adipi-
                            scing elit, sed diam
                            nonummy nibh euismod tin</p>
                        <a>阅读更多</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="news-container" style="margin: auto;">
                    <div class="news-logo"></div>
                    <div class="content">
                        <h4>标题</h4>
                        <p>Lorem ipsum dolor sit
                            amet, consectetuer adipi-
                            scing elit, sed diam
                            nonummy nibh euismod tin</p>
                        <a>阅读更多</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="news-container">
                    <div class="news-logo"></div>
                    <div class="content">
                        <h4>标题</h4>
                        <p>Lorem ipsum dolor sit
                            amet, consectetuer adipi-
                            scing elit, sed diam
                            nonummy nibh euismod tin</p>
                        <a>阅读更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>






