

.navigation-btn{
    text-align: center;
    line-height: 35px;
    width: 90%;
    cursor: pointer;
    border: #DDDEDF solid 1px;
    border-radius: 2px;
    /*box-shadow: 1px 1px 5px #E2E5EA;*/
}

.main-container{
    width: 100%;
    padding: 15px;
    border: #DDDEDF solid 1px;
    border-radius: 2px;
    box-shadow: 1px 1px 5px #E2E5EA;
    margin: 30px auto;
}

.option-selector .dropdown-toggle{
    width: 120px;
}

.table-responsive td{
    text-align: center;
    vertical-align: middle;
}

.paginitor-footer .pagination{
    float: right;
}

.table-responsive a{
    cursor: pointer;
}

















