body{
    width: 80%;
    max-width: 1200px;
    margin: auto;
}
.dropdown{
    margin-left: 40%;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /*background: #fff;*/
    background-image: url("http://localhost:8088/assets/image/header.png");
    background-size: 100% 100%;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.to-login{
    position: absolute;
    bottom: 20%;
    z-index: 10;
    width: 10%;
    left: 45%;
}
.home-main-container{
    height: 430px;
    margin-bottom: 15px;
}
.home-main-container .col-sm-6{
    height: 100%;
}
.information-body{
    width: 100%;
    height: 100%;
    border: #efefef solid 1px;
    border-radius: 2px;
    color: #666666;
    padding: 10px;
}
.home-main-container .project{
    width: 95%;
    height: 100px;
    margin-bottom: 10px;
    border: #efefef solid 1px;
    border-radius: 2px;
    color: #666666;
    padding-left: 10px;
}
.home-main-container .project:last-child{
    margin-bottom: 0;
}



.tab-content{
    height: 380px;
    padding: 10px;
    border: #efefef solid 1px;
    border-top: none;
    border-radius: 2px;
}














