
html, body{
    color: #333333;
    font-family: 'Microsoft Yahei'!important;
}

.row{
    margin: 0;
}

#mainDiv{
    width: 100%;
    height: 100%;
    position: relative;
}

.bottom-logo{
    text-align: center;
    line-height: 60px;
    color: #E04B2C;
    font-size: 24px;
    font-weight: bolder;
}

.footer{
    width: 100%;
    text-align: center;
    color: #333333;
}

.footer p {
    margin: 10px 0;
}

.foot1{
    background-color: #E04B2C;
    line-height: 45px;
    color: #ffffff;
}

.clear-fix{
    overflow: auto;
    zoom: 1;
}









